<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="PavimentalContext" connectionString="Data Source=|DataDirectory|\Pavimental.sdf"
    providerName="System.Data.SqlServerCe.4.0" />-->
  <add name="PavimentalContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GeCoDAL.PavimentalDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>