<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="GeCoDAL.Properties.Settings.PavimentalConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\GeCo\Source\GeCo\DB\Pavimental.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="GeCoDAL.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\Database.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="GeCoDAL.Properties.Settings.PavimentalConnectionString1"
            connectionString="Data Source=|DataDirectory|\Pavimental_.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />-->
    </connectionStrings>
</configuration>